<section class="navbar navbar-expand-lg  bg-primary p-1 text-primary bg-opacity-100">
    <label for="" class="brand">
        <a href=""><img src="./img/g.jpg" alt=""></a>
    </label>
    <label for="" class="contacto">
        <a href=""><img src="./img/contacto.png" alt=""></a>
    </label>
</section>

<!--Tabla detalles-->
<section class="p-5 section bg-secondary p-2 text-dark bg-opacity-50">
    <div class="list-group tabla">

        <a href="#" class="list-group-item list-group-item-action active text-dark bg-success bg-opacity-60" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
            </div>

            <div><center><h1>DETALLES</h1></center></div>

        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Responsabilidades</h5>

                <i class="bi bi-arrow-right-circle-fill"></i>
            </div>

        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Requisitos</h5>
                <i class="bi bi-arrow-right-circle-fill"></i>
            </div>

        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Beneficios</h5>
                <i class="bi bi-arrow-right-circle-fill"></i>
            </div>

        </a>
    </div>

    <!--Botones-->

    <center>
        <div class="p-5 " id="curso">
            <div class="container">
                <button type="button" class="btn btn-primary btn-lg">
                    Aplicar
                    al
                    trabajo
                </button>
                <button type="button" class="btn btn-secondary btn-lg">
                    Comentarios
                    y valoración
                </button>

            </div>
        </div>
    </center>
</section>

</div>