<div class="container-fluid p-4">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">INICIAR SESION</h2>
            <div class="text-center h1">
                <i class="bi bi-person-fill"></i>
            </div>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <span class="text-center mx-4">
                    <h6>Si no tienes cuenta, puedes registrarte en el siguiente formulario <i class="bi bi-arrow-right h5 mx-1"></i>  </h6>
                </span>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark">INICIAR</button>
                </div>

            </form>

        </div>
        <!-- REGISTROS -->
        <div class="col-sm-6">
            <h2 class="text-center">REGISTRARSE</h2>
            <div class="text-center h1">
                <i class="bi bi-person-bounding-box"></i>
            </div>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre usuario</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Contrasena</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark">REGISTRARSE</button>
                </div>
            </form>
        </div>
    </div>
</div>