<div class="bg-warning p-2 text-dark bg-opacity-10">
    <div class="container">
        <div class="text-success"> </div>
        <h2 class="text-center text-dark">
            PERFIL DE USUARIO
        </h2>

        <div class="row g-3 justify-content-between">
            <div class="col-md6 col-lg-3">
                <div class="">
                    <div class="card-body text-center">
                        <h1>AGREGAR FOTO</h1>


                        <button type="button" class="btn btn-success">AGREGAR</button>

                    </div>
                </div>
            </div>
            <div class="col-md6 col-lg-3">
                <div class="">
                    <div class="card-body text-center">
                        <h1>AGREGAR CURRICULUM</h1>

                        <button type="button" class="btn btn-success">AGREGAR</button>

                    </div>
                </div>
            </div>
            <div class="col-md6 col-lg-3">
                <div class="">
                    <div class="card-body text-center">
                        <h1>ALERTAS DE TRABAJO</h1>

                        <button type="button" class="btn btn-success">VER</button>
                    </div>
                </div>
            </div>
            <div class="col-md6 col-lg-3">
                <div class="">
                    <div class="card-body text-center">
                        <h1>APLICAR OFERTAS</h1>

                        <button type="button" class="btn btn-success">APLICAR</button>
                    </div>
                </div>
            </div>
            <div class="bg-warning p-2 text-dark bg-opacity-10">
                <div class="container">
                    <div class="text-success"> </div>
                    <h2 class="text-center text-dark">
                        PERFIL DE USUARIO
                    </h2>

                    <h1>Nombre:</h1>
                    <input class="alert alert-primary" placeholder="Agregar" type="text" />

                    <h1>Apellidos:</h1>
                    <input class="alert alert-primary" placeholder="Agregar" type="text" />

                    <h1>Correo electronico:</h1>
                    <input class="alert alert-primary" placeholder="Agregar" type="text" />
                    <h1>Telefono:</h1>
                    <input class="alert alert-primary" placeholder="Agregar" type="text" />

                    <h1>Descripcion:</h1>
                    <input class="alert alert-primary" placeholder="Agregar" type="text" />
                    <button type="button" class="btn btn-success">Agregar</button>
                </div>
                <br>
                <h2 class="text-center text-dark">
                    <br>
                    <button type="button" class="btn btn-success">VER ESTADISTICAS DE PERFIL</button>
                </h2>


            </div>
        </div>
    </div>
