<div class="container">
  <div class="ratio ratio-21x9">
    <img src="~/img/trabajos.jpg" class="img-fluid" alt="">

  </div>

    <section class=" bg-secondary bg-opacity-75">
    <section class="p-3" style="background-color:#000000;">
      <div class="container">
          <div class="row align-items-center">
              <div class="">
                <center>
                  <h1 class="text-white"><i class="bi bi-chevron-compact-left"></i></i>Ofertas de trabajo<i class="bi bi-chevron-compact-right"></i></h1>

                </center>
                  
              </div>		
          </div>		
      </div>		
  </section>	


   <!-- ======= Trabajo Im Derecha ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="~/img/Movistar.webp" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Objetivo del puesto:</h3>
            <p>El Ejecutivo de Venta Directa esta encargado de cumplir con los objetivos de ventas y parámetros de fidelización de clientes establecidos por la empresa; garantizando atención a personas naturales, vender planes post pago con terminal y sin terminal, trabajo de campo.</p>
            <h3>Funciones:</h3>
            <p>Da seguimiento en las ventas para cumplir la meta establecida.
                Visita, prospectación y cierre de negociaciones de clientes naturales para generar alianzas y permisos de montaje de stand de ventas.
                  Trabajo de barridos de zona, correr bases de venta, trabajo On line (redes sociales), manejo de cartera de referidos, apertura de ventas a empleados de empresas.
                  Manejo de cartera de Mora seguimiento postventa a clientes.
                  Seguimiento al proceso de las ventas ingresadas.
            </p>

           
          </div>
        </div>

      </div>
    </section>


        <!-- ======= Trabajo Im Izquierda ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("img/adoc.jpg");' data-aos="fade-right">
                        <img src="~/img/adoc.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            
           <h3>Analista de Minería de Datos</h3>
           <h3>Contrato por 6 meses</h3>
           <h3>Requisitos:</h3>
           <p>Egresado o graduado de Ingeniería Industrial, Ingeniería de Negocios, Economía y Negocios o similar.
              Conocimiento avanzado de Excel (Indispensable).
              Deseable conocimiento de Microsoft Project, Métodos Ágiles, Project Management, Power BI.
              Disponibilidad inmediata.
              Excelentes habilidades numéricas y de análisis de información.</p>
        </div>

      </div>
    </section>

       <!-- ======= Trabajo Im Derecha ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="~/img/coaspae.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Requiere:</h3>
            <p>Experiencia en el rubro mínimo 1 año comprobable</p>
            <p>Comercializar productos financieros
                Tramitar créditos multi destinos, vivienda y microempresa.
                Captar fondos
                Atender clientes en Agencia y fuera de ella
                Administrar documentación soporte
                Manejar cartera de clientes
                conocer el mercado del sector o banca cooperativos
                Captar y llegar a mera de creditos
            </p>
            <h3>Habilidades</h3>
            <p>Gestión de negocios
                comunicación efectiva
                Capacidad de análisis financiero
                Manejo de Excel nivel intermedio/avanzado
                Técnicas de negociación
                Escucha efectiva
                Empatía
                Habilidad de persuasión
                Enfocado en los resultados
                Trabajo bajo presión
                Honestidad
            </p>
            <h3>Necesita:</h3>
            <p>Educación mínima: Bachillerato / Educación Media</p>
            <p>Edad: entre 24 y 40 años</p>
            <p>Licencias de conducir: motocicletas ,automóviles / carros</p>
            <p>Palabras clave: directivo, mando, gobierno, regencia, executive, managing, student, mercadotecnia, marketing, mercadeo</p>
            <h3>SALARIO: 500 mas 150 de viáticos</h3>

          </div>
        </div>

      </div>
    </section>


      <!-- ======= Trabajo Im Izquierda ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" data-aos="fade-right">
                        <img src="~/img/claros.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            
           <h3>Supervisor de rutas de distribución (Zona Santa Ana)</h3>
           <h3>Proposito</h3>
           <p>Supervisar todas las actividades comerciales y de control relacionadas a las rutas de distribución de producto.</p>
           <h3>Funciones principales:</h3>
           <p>• Supervisar y controlar el diseño de rutinas y rutas de trabajo de todos los equipos de venta,
                 Supervisar y verificar las técnicas de venta de los equipos,
                 Capacitar a todo el equipo de venta en promociones, precios, procesos y anuncios emitidos por la compañía,
                 Generar periódicamente y revisar reportería.</p>
                 <h3>Requisitos:</h3>
                 <p>• Experiencia de al menos un año como supervisor de ventas,
                      Estudiante universitario de Admon de empresas, Mercadeo o afines,
                      Licencia de conducir liviana (Indispensable),
                      Dispuesto a trabajar en campo,
                      Sede de la plaza es en Santa Ana.</p>

          <h3>Se Ofrece:</h3>
          <p>Salario Base.</p>
          <p>Bonificación por productividad.</p>
          <p>Beneficios de Ley.</p>
          <p>Beneficios adicionales a la Ley.</p>
          </div>
        </div>

      </div>
    </section>


    <section class="p-3" style="background-color:#000000;">
      <div class="container">
          <div class="row align-items-center">
              <div class="">
                <center>
                  <h1 class="text-white"><i class="bi bi-chevron-compact-left"></i></i>NUEVOS TRABAJOS<i class="bi bi-chevron-compact-right"></i></h1>

                </center>
                  
              </div>		
          </div>		
      </div>		
  </section>




    <!-- Nuevos trabajos -->
  <section class="p-3" id="re">
    
    <div class="container">
        <div class="row text-center">
            <div class="col-md">
                <div class="card bg-primary text-light">
                    <span class="border border-dark"></span>
                    <div class="card-body text-center">
                      <div>
                        <h3>Vacante para atencion al cliente</h3>
                        <img src="~/img/ate.jpg" class="img-fluid" alt="">
                      </div>
                        <a href="https://www.facebook.com/marketplace/item/284442527256629/?mibextid=6ojiHh" class="btn btn-dark">VER ANUNCIO DE TRABAJO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
        <div class="row text-center">
            <div class="col-md">
                <div class="card bg-primary text-light">
                    <span class="border border-dark"></span>
                    <div class="card-body text-center">
                      <div>
                        <h3>Cocinero/Taquero/Auxiliar de cocina</h3>
                        <img src="~/img/cocina.webp" class="img-fluid" alt="">
                      </div>
                        <a href="https://www.facebook.com/marketplace/item/618623516980061/?mibextid=6ojiHh" class="btn btn-dark">VER ANUNCIO DE TRABAJO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row text-center">
            <div class="col-md">
                <div class="card bg-primary text-light">
                    <span class="border border-dark"></span>
                    <div class="card-body text-center">
                      <div>
                        <h3>Asistente de gerencia</h3>
                        <img src="~/img/asistente.jpg" class="img-fluid" alt="">
                      </div>
                        <a href="https://m.facebook.com/story.php?story_fbid=pfbid0PWmWaqF2YdEz6k7Y95M1ejWSYghVi5V1cC3DwxT9LKaB5nGmZB8ZrtGDwknAd25el&id=100064034983516&mibextid=qC1gEa" class="btn btn-dark">VER ANUNCIO DE TRABAJO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="row text-center">
          <div class="col-md">
              <div class="card bg-primary text-light">
                  <span class="border border-dark"></span>
                  <div class="card-body text-center">
                    <div>
                      <h3>Empleos Telnova</h3>
                      <img src="~/img/tel.png" class="img-fluid" alt="">
                    </div>
                      <a href="https://m.facebook.com/empleos.telnova/?mibextid=qC1gEa" class="btn btn-dark">VER ANUNCIO DE TRABAJO</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
