<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Videos
                </div>
                <div class="card-body">
                    <h5 class="card-title">Título del video</h5>
                    <p class="card-text">Descripción del video.</p>
                    <a asp-controller="recursos" asp-action="videos" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Articulos noticiarios
                </div>
                <div class="card-body">
                    <h5 class="card-title">Título de la noticia</h5>
                    <p class="card-text">Descripción de la noticia.</p>
                    <a asp-controller="recursos" asp-action="articulos" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </div>
    </div>
</div>