<section class=" bg-success bg-opacity-75">
    <section class="p-5" style="background-color:#2c736b;">
        <div class="container">
            <div class="row align-items-center">
                <div class="">
                    <center>
                        <h1 class="text-white"><i class="bi bi-align-end"></i>Tutorial de creación de un curriculum<i class="bi bi-align-start"></i></h1>

                    </center>

                </div>
            </div>
        </div>
    </section>
    <!-- Crear curriculum -->
    <div class="container">
        <div class="ratio ratio-21x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0TBDXtOPdIs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>

    </div>



    <!-- Preparacion entrevista -->
    <section class=" bg-success bg-opacity-75">
        <section class="p-5" style="background-color:#2c736b;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="">
                        <center>
                            <h1 class="text-white"><i class="bi bi-align-end"></i>Preparación de una entrevista<i class="bi bi-align-start"></i></h1>

                        </center>

                    </div>
                </div>
            </div>
        </section>
        <!-- Entrevista -->
        <div class="container">
            <div class="ratio ratio-21x9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5al8cq6Isdk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            </div>

        </div>

        <!-- Habilidades profesionales -->
        <section class=" bg-success bg-opacity-75">
            <section class="p-5" style="background-color:#2c736b;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="">
                            <center>

                                <h1 class="text-white"><i class="bi bi-align-end"></i>Tips para mejorar habilidades profesionales<i class="bi bi-align-start"></i></h1>

                            </center>

                        </div>
                    </div>
                </div>
            </section>
            <!-- Hab profesionales -->
            <div class="container">
                <div class="ratio ratio-21x9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/mNoGb8f74UA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                </div>

            </div>


            <!-- Desarrollar Habilidades -->
            <section class=" bg-success bg-opacity-75">
                <section class="p-5" style="background-color:#2c736b;">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="">
                                <center>
                                    <h1 class="text-white"><i class="bi bi-align-end"></i>Como desarrollar habilildades profesionales<i class="bi bi-align-start"></i></h1>

                                </center>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- Hab profesionales -->
                <div class="container">
                    <div class="ratio ratio-21x9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/FfSvTUE7awI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    </div>

                </div>

